@import "base";
@import "footer";

.top-nav {
  width: 100%;
  min-height: 5rem;
  display: flex;
}

.brand {
  font-size: 1rem;
}

.brand .logo {
  height: 2rem;
  margin-right: 0;
}

.brand .text {
  padding-top: 1rem;
}

.content {
  width: 50%;
  margin: 0 auto;
}

.content .header {
  font-size: 2.2rem;
  margin-bottom: 4rem;
  color: var(--dim-text-color);
}

.content .list {
  margin-bottom: 2rem;
}

.content .list-item {
  display: flex;
  margin-bottom: 4rem;
}

.content .list-item .icon {
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
  background: var(--dim-text-color);
}

.content .list-item .content {
  width: calc(100% - 6rem);
  flex-grow: 1;
}

.content .list-item .title {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 500;
}

.content .list-item .meta {
  font-size: 1.3rem;
  margin: 0.6rem 0;
  color: var(--dim-text-color);
  display: flex;
}

.content .list-item .meta-item {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.content .meta-item .icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.8rem;
}

.content .list-item .description {
  margin-top: 1rem;
  font-size: 1.4rem;
  width: 60%;
}

.content .list-item:last-child {
  margin-bottom: 0;
}
