<div class="footer">
  <div class="copyright">
    <div class="images">
      <img src='cc_icon_white_x2.png' alt='Creative-commons icon' />
      <img src='attribution_icon_white_x2.png' alt='Attribution icon' />
    </div>

    Except where otherwise noted, content on this site is licensed under a <a href='https://creativecommons.org/licenses/by/4.0/'>Creative Commons Attribution 4.0 International license</a>.
  </div>
</div>
