:root {
  --main-bg-color: #221e1d;
  --main-text-color: #cccccc;
  --link-text-color: #98a898;
  --highlighted-text-color: #a8d500;
  --dim-text-color: #888;

  --alert-bg-color: lighten(#221e1d, 4);
  --alert-text-color: #888;

  --dim-border-color: lighten(#221e1d, 12);
}

$lg: 1280px;
$md: 900px;
$sm: 550px;
$xs: 300px;
