@import "base";
@import "top-nav";
@import "footer";

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

ul, ol {
  margin: 2rem 0;
}

li {
  margin: 1rem 0;
}

p {
  margin: 1.6rem 0;
}

.container {
  display: flex;
  margin: 2rem auto;
  width: 70%;
  max-width: $lg;

  @media (max-width: $lg) {
    width: 90%;
  }

  @media (max-width: $sm) {
    flex-direction: column;
  }
}

.main {
  flex-shrink: 1;
  width: calc(100% - 45rem);
  padding-right: 2rem;

  @media (max-width: $md) {
    width: calc(100% - 15rem);
  }

  @media (max-width: $sm) {
    width: auto;
  }
}

.header {
  .meta {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    margin-bottom: 2rem;

    .key {
      margin-right: 1rem;
      align-self: end;
    }
  }
}

.description p {
  padding: 0;
  margin: 0.9rem 0;
}

.event-sections {
  margin-top: 2rem;
}

.event-section {
  display: flex;
  margin-bottom: 2rem;

  .icon {
    height: 5rem;
    width: 5rem;
    margin-top: 0.5rem;
    margin-right: 1.4rem;
    flex-shrink: 0;
    opacity: 0.6;
  }

  .lightening-icon {}

  header {
    margin-bottom: 1rem;

    .title {
      margin-bottom: 0.3rem;
      font-size: 1.8rem;
      font-weight: bold;
    }

    .meta {
      font-size: 1.2rem;
      color: var(--dim-text-color);
    }
  }
}

.meta-sidebar {
  width: 45rem;
  margin-left: 2rem;
  padding: 2rem 0 0 2rem;
  height: min-content;
  border-left: 2px dashed var(--dim-border-color);

  .meta-item {
    margin-bottom: 2rem;

    @media (max-width: $sm) {
      margin-bottom: 0.6rem;
    }
  }

  .meta-key {
    color: var(--dim-text-color);
  }

  @media (max-width: $md) {
    width: 15rem;
  }

  @media (max-width: $sm) {
    border-left: none;
    border-top: 2px dashed var(--dim-border-color);
    margin-left: 0;
    margin-top: 4rem;
    padding: 2rem 1rem;
    width: auto;
  }
}
