@import "base";
@import "top-nav";
@import "footer";

.container {
  display: flex;
  margin: 2rem auto;
  width: 70%;
  max-width: $lg;

  @media (max-width: $lg) {
    width: 90%;
  }

  @media (max-width: $sm) {
    flex-direction: column;
  }
}

.main {
  flex-shrink: 1;
  width: calc(100% - 45rem);
  padding-right: 2rem;

  @media (max-width: $md) {
    width: calc(100% - 15rem);
  }

  @media (max-width: $sm) {
    width: auto;
  }
}

.header {
  .meta {
    display: flex;
    font-size: 1.2rem;

    .key {
      margin-right: 1rem;
    }
  }
}

.meta-sidebar {
  width: 45rem;
  margin-left: 2rem;
  padding: 2rem 0 0 2rem;
  border-left: 2px dashed var(--dim-border-color);

  .meta-item {
    margin-bottom: 2rem;

    @media (max-width: $sm) {
      margin-bottom: 0.6rem;
    }
  }

  .meta-key {
    color: var(--dim-text-color);
  }

  @media (max-width: $md) {
    width: 15rem;
  }

  @media (max-width: $sm) {
    border-left: none;
    border-top: 2px dashed var(--dim-border-color);
    margin-left: 0;
    margin-top: 4rem;
    padding: 2rem 1rem;
    width: auto;
  }
}
