<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% if base_url %}<base href="{{ base_url | safe }}" />{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.title }}: Entropy</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/event-details.css">
  </head>
  <body>
    {% include "partials/top-nav" %}

    <div class="container">
      <div class="main">
        <div class="header">
          {{ event.title }}
          <div class="meta">
            <div class="key">via</div>
            <a href="{{ event.link }}" class="value">{{ event.group_name }} </a>
          </div>
        </div>
        <div class="description"> {{ event.description | linebreaksbr | safe }}</div>
      </div>

      <div class="meta-sidebar">
        <div class="meta-item">
          <div class="meta-key">Date</div>
          <div class="meta-value">{{ event.start_date }}</div>
        </div>

        <div class="meta-item">
          <div class="meta-key">Start Time</div>
          <div class="meta-value">{{ event.start_time }}</div>
        </div>

        <div class="meta-item">
          <div class="meta-key">End Time</div>
          <div class="meta-value">{{ event.end_time }}</div>
        </div>

        <div class="meta-item">
          <div class="meta-key">Cost</div>
          <div class="meta-value">{{ event.charges }}</div>
        </div>

        {% if event.is_online %}
        <div class="meta-item">
          <div class="meta-key">Venue</div>
          <div class="meta-value">Online</div>
        </div>
        {% endif %}
      </div>

    </div>

    {% include "partials/footer" %}
  </body>
</html>
