<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% if base_url %}<base href="{{ base_url | safe }}" />{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.title }}: Entropy</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/event-details.css">
  </head>
  <body>
    {% include "partials/top-nav" %}

    <div class="container">
      <div class="main">
        <div class="header">
          {{ event.title }}

          <div class="meta">
            <div class="key">via</div>
            <a href="{{ event.link }}" class="value">{{ event.group_name }} </a>
          </div>
        </div>

        <div class="description">
          {% if event.desc_format == "md" %}
          {{ event.description | render_md | safe }}
          {% else %}
          {{ event.description | linebreaksbr | safe }}
          {% endif %}
        </div>

        {% if sections|length %}
        <div class="event-sections">
          {% for section in sections %}
          <section class="event-section">
            <img
              class="icon icon-lightening"
              title="{{ section.name }}"
              src="{{ storage_url_for(path='event-sections/logos/lightening.webp', bucket='assets') }}"
            />

            <div class="content">
              <header>
                <div class="title">{{ section.title }}</div>
                <div class="meta">for {{ section.duration }}</div>
              </header>

              <article>
                {% if section.desc_format == "md" %}
                {{ section.description | render_md | safe }}
                {% else %}
                {{ section.description | linebreaksbr | safe }}
                {% endif %}
              </article>
            </div>
          </section>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <div class="meta-sidebar">
        <div class="meta-item">
          <div class="meta-key">Date</div>
          <div class="meta-value">{{ event.start_time | date(format="%A, %B %e") }}</div>
        </div>

        <div class="meta-item">
          <div class="meta-key">Start Time</div>
          <div class="meta-value">{{ event.start_time | date(format="%l:%M%P") }}</div>
        </div>

        <div class="meta-item">
          <div class="meta-key">Duration</div>
          <div class="meta-value">{{ event.duration }}</div>
        </div>
      </div>

    </div>

    {% include "partials/footer" %}
  </body>
</html>
