<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Entropy Chandigarh Hackerspace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="hero">
      <h1 class="brand">Entropy</h1>
      <div class="tagline">
        <p>
          Entropy is a <a href='https://hackerspaces.org/'>hackerspace</a> for
          technologists living in vicinity of Chandigarh, physically or
          spiritually.
        </p>

        <p>
          Entropy intends to shake things up in the tech scene of the city by
          providing an open space for hackers of Chandigarh, to identify and solve
          the problems they deem fit.
        </p>
      </div>
    </div>

    <div class='peeky-binder'>
      <div class="peeky-menu">
        <div class="menu-item active">
          <div class="counter-chart">4</div>
          <div class="content">
            <div class="title">Events</div>
            <div class="description">
              Tech events happening across Chandigarh in different tech circles,
              aggregated in one place for easy discovery.
            </div>
          </div>
        </div>

        <div class="menu-item">
          <div class="counter-chart">1</div>
          <div class="content">
            <div class="title">Initiatives</div>
            <div class="description">
              Problems we, as a group, have picked and are working towards
              solving.
            </div>
          </div>
        </div>

        <div class="menu-item">
          <div class="counter-chart">1</div>
          <div class="content">
            <div class="title">RFCs</div>
            <div class="description">
              Problems members have proposed, which are under
              planning/consideration to be picked by the group as intiatives.
            </div>
          </div>
        </div>
      </div>

      <div class="peeky-content">
        <div class="header">Upcoming Tech Events in Chandigarh</div>
        <div class="list">
          {% for event in events %}
          <div class="list-item">
            <div class="icon"></div>
            <div class="content">
              <div class="title">{{ event.title }}</div>
              <div class="meta">
                <div class="meta-item">
                  <div class="icon"></div>
                  <div class="content">{{ event.start_date }} from {{event.start_time}} to {{event.end_time}}</div>
                </div>
                <div class="meta-item">
                  <div class="icon"></div>
                  <div class="content">{{ event.charges }}</div>
                </div>
                {% if event.is_online %}
                <div class="meta-item">
                  <div class="icon"></div>
                  <div class="content">Online</div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="more" href='/tech-events'>View All</a>
      </div>
    </div>
  </body>
</html>
